p {
  top: 40px;
  position: absolute;
  color: red;
  z-index: 100;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  margin: 0px;
  overflow: hidden;
  display: block;
}

canvas {
  z-index: 0;
  position: fixed;
  display: block; /* fix necessary to remove space at bottom of canvas */
}

.menu_background {
  left: 25%;
  top: 25%;
  width: 50%;
  height: 200px;
  position: absolute;
  background-color: #FFaa0055;
  z-index: 100;
}

.menu_button {
  width: 30%;
  height: 30%;
  background-color: #FFaa0055;
  user-select: none;
  margin: 20px auto; /*  */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #FFaa00bb;
}


#menu_opener {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: #FFaa00ff;
  z-index: 9999;
  top: 0%;
}